## Merging two dataframes

Here we do a simple merge between two dataframes concerning tube stations. The two files look like:

`ENV_Weather_3xday_13-18.csv`
```
air_pressure applicable_date  humidity  max_temp  min_temp  predictability  \
0      1017.645      2018-11-27      90.0    9.1525    4.0675              77   
1      1017.645      2018-11-27      90.0    8.9075    3.6375              77   
2      1017.550      2018-11-27      88.0    8.2975    2.8925              77   
3      1017.550      2018-11-27      88.0    8.4825    2.8450              77   
4      1017.725      2018-11-27      89.0    8.8400    3.5900              75   

   the_temp  visibility weather_state_abbr weather_state_name  wind_direction  \
0     7.555    3.340492                 hr         Heavy Rain      136.680244   
1     7.660    6.383968                 hr         Heavy Rain      140.735640   
2     7.585    7.301112                 hr         Heavy Rain      120.976284   
3     7.605    8.762887                 hr         Heavy Rain      120.639229   
4     7.115   10.002833                 lr         Light Rain      141.498276   

  wind_direction_compass  wind_speed                    datetime  day  time  \
0                     SE    7.078549  2018-11-27 11:56:02.061397   27    11   
1                     SE    7.318619  2018-11-27 08:56:03.257979   27     8   
2                    ESE    7.521185  2018-11-27 05:56:02.576890   27     5   
3                    ESE    7.471647  2018-11-27 02:56:04.066700   27     2   
4                     SE    7.457044  2018-11-26 23:56:02.169925   26    23   

  Weekday  
0  Monday  
1  Monday  
2  Monday  
3  Monday  
4  Monday  "
```

`RAN_AnimalRescues_09-18.csv`

```
IncidentNumber    DateTimeOfCall   TypeOfIncident  PumpCount  \
0         139091   01/01/2009 3:01  Special Service        1.0   
1         275091   01/01/2009 8:51  Special Service        1.0   
2        2075091  04/01/2009 10:07  Special Service        1.0   
3        2872091  05/01/2009 12:27  Special Service        1.0   
4        3553091  06/01/2009 15:23  Special Service        1.0   

   PumpHoursTotal  HourlyNominalCost(GBP)  IncidentNominalCost(GBP)  \
0             2.0                   255                   510.0   
1             1.0                   255                   255.0   
2             1.0                   255                   255.0   
3             1.0                   255                   255.0   
4             1.0                   255                   255.0   

                        FinalDescription AnimalGroupParent  \
0  DOG WITH JAW TRAPPED IN MAGAZINE RACK               Dog   
1          ASSIST RSPCA WITH FOX TRAPPED               Fox   
2                    DOG CAUGHT IN DRAIN               Dog   
3                  HORSE TRAPPED IN LAKE             Horse   
4              RABBIT TRAPPED UNDER SOFA            Rabbit   

         OriginofCall  ...  StnGroundName PostcodeDistrict        Lat  \
0  Person (land line)  ...        Norbury             SE19        NaN   
1  Person (land line)  ...       Woodside             SE25  51.390954   
2     Person (mobile)  ...     Wallington              SM5  51.368942   
3     Person (mobile)  ...        Ruislip              UB9  51.605281   
4     Person (mobile)  ...    Harold Hill              RM3        NaN   

        Lon    Lat_est   Lon_est Time of day Month    Weekday  Year  
0       NaN  51.414030 -0.098236    03:01:00     1  Wednesday  2009  
1 -0.064193  51.390999 -0.064694    08:51:00     1  Wednesday  2009  
2 -0.162010  51.369182 -0.161871    10:07:00     4    Tuesday  2009  
3 -0.489705  51.604973 -0.490278    12:27:00     5   Thursday  2009  
4       NaN  51.608749  0.231963    15:23:00     6     Sunday  2009  
```

In this notebook we shall
1. Import the two `.csv` files
2. Clean up the extra spaces in `Station Stats.csv`
3. Merge the dataframes
4. Upload the merged dataframe to Count

### Imports and definitions

The Python API for Count is hosted at PyPI here https://pypi.org/project/count-api/3.0.6/

In [41]:
! pip install pandas
! pip install count-api
import pandas as pd
import numpy as np
import os
os.environ["COUNT_API_URL"] = "https://play.count.co"
from count_api import CountAPI

# Set this to the local path of the GitHub repository
data_dir = os.path.join('..','data',)
token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IkpjUnVRZjFSVWhqbHdSZVlTRk1IZkBjb3VudC5jbyIsImp3dGlkIjoiMlRYRkY4QTVWVGlGc1lpSWJuOGdMIiwiaWF0IjoxNTQ0MDAzMzU5LCJleHAiOjE1NzU1MzkzNTksImF1ZCI6Imh0dHBzOi8vcGxheS5jb3VudC5jbyJ9.UHS_I1d8iG27VxYQjNpMEFLSYnBXoKmrKDf3HIHVILk'

Requirement already satisfied: pandas in /anaconda3/lib/python3.6/site-packages (0.23.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.6/site-packages (from pandas) (2018.4)
Requirement already satisfied: numpy>=1.9.0 in /anaconda3/lib/python3.6/site-packages (from pandas) (1.14.3)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: count-api in /anaconda3/lib/python3.6/site-packages (3.1.3)
Requirement already satisfied: requests in /anaconda3/lib/python3.6/site-packages (from count-api) (2.18.4)
Requirement already satisfied: protobuf==3.5.1 in /anaconda3/lib/python3.6/site-packages (from count-api) (3.5.1)
Requirement already satisfied: requests-toolbelt in /anaconda3/lib/python3.6/site-packages (from count-api) (0.8.0)
Requirement already satisfied: future in /anaconda3/lib/python3.6/site-packages (from count-api) (0.16.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.6/site-packages (from requests->count-api) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /anaconda3/lib/python3.6/site-packages (from requests->count-api) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /anaconda3/lib/python3.6/site-packages (from requests->count-api) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.6/site-packages (from requests->count-api) (2018.4.16)
Requirement already satisfied: six>=1.9 in /anaconda3/lib/python3.6/site-packages (from protobuf==3.5.1->count-api) (1.11.0)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.6/site-packages (from protobuf==3.5.1->count-api) (39.1.0)
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

## 1. Importing the data

In [38]:
weather_path = os.path.join(data_dir,"ENV_Weather_3xday_13-18.csv")
weather = pd.read_csv(weather_path,engine= 'python')
animal_path =os.path.join(data_dir,"RAN_AnimalRescues_09-18.csv")
animal_rescue = pd.read_csv(animal_path,engine= 'python')

In [39]:
print(weather.head(5))

   air_pressure applicable_date  humidity  max_temp  min_temp  predictability  \
0      1017.645      2018-11-27      90.0    9.1525    4.0675              77
1      1017.645      2018-11-27      90.0    8.9075    3.6375              77
2      1017.550      2018-11-27      88.0    8.2975    2.8925              77
3      1017.550      2018-11-27      88.0    8.4825    2.8450              77
4      1017.725      2018-11-27      89.0    8.8400    3.5900              75

   the_temp  visibility weather_state_abbr weather_state_name  wind_direction  \
0     7.555    3.340492                 hr         Heavy Rain      136.680244
1     7.660    6.383968                 hr         Heavy Rain      140.735640
2     7.585    7.301112                 hr         Heavy Rain      120.976284
3     7.605    8.762887                 hr         Heavy Rain      120.639229
4     7.115   10.002833                 lr         Light Rain      141.498276

  wind_direction_compass  wind_speed                    datetime  day  time  \
0                     SE    7.078549  2018-11-27 11:56:02.061397   27    11
1                     SE    7.318619  2018-11-27 08:56:03.257979   27     8
2                    ESE    7.521185  2018-11-27 05:56:02.576890   27     5
3                    ESE    7.471647  2018-11-27 02:56:04.066700   27     2
4                     SE    7.457044  2018-11-26 23:56:02.169925   26    23

  Weekday
0  Monday
1  Monday
2  Monday
3  Monday
4  Monday

In [40]:
print(animal_rescue.head(5))

  IncidentNumber    DateTimeOfCall   TypeOfIncident  PumpCount  \
0         139091   01/01/2009 3:01  Special Service        1.0
1         275091   01/01/2009 8:51  Special Service        1.0
2        2075091  04/01/2009 10:07  Special Service        1.0
3        2872091  05/01/2009 12:27  Special Service        1.0
4        3553091  06/01/2009 15:23  Special Service        1.0

   PumpHoursTotal  HourlyNominalCost(GBP)  IncidentNominalCost(GBP)  \
0             2.0                   255                   510.0
1             1.0                   255                   255.0
2             1.0                   255                   255.0
3             1.0                   255                   255.0
4             1.0                   255                   255.0

                        FinalDescription AnimalGroupParent  \
0  DOG WITH JAW TRAPPED IN MAGAZINE RACK               Dog
1          ASSIST RSPCA WITH FOX TRAPPED               Fox
2                    DOG CAUGHT IN DRAIN               Dog
3                  HORSE TRAPPED IN LAKE             Horse
4              RABBIT TRAPPED UNDER SOFA            Rabbit

         OriginofCall  ...  StnGroundName PostcodeDistrict        Lat  \
0  Person (land line)  ...        Norbury             SE19        NaN
1  Person (land line)  ...       Woodside             SE25  51.390954
2     Person (mobile)  ...     Wallington              SM5  51.368942
3     Person (mobile)  ...        Ruislip              UB9  51.605281
4     Person (mobile)  ...    Harold Hill              RM3        NaN

        Lon    Lat_est   Lon_est Time of day Month    Weekday  Year
0       NaN  51.414030 -0.098236    03:01:00     1  Wednesday  2009
1 -0.064193  51.390999 -0.064694    08:51:00     1  Wednesday  2009
2 -0.162010  51.369182 -0.161871    10:07:00     4    Tuesday  2009
3 -0.489705  51.604973 -0.490278    12:27:00     5   Thursday  2009
4       NaN  51.608749  0.231963    15:23:00     6     Sunday  2009

[5 rows x 28 columns]

## 2. Cleaning the data

You'll note above that the Weather data has multiple entries per day. We'll need to pivot the table to get the average weather for each day to join it to the animal rescue data. 

We use the `pivot_table()` method on a dataframe, where `index` is what you want to aggregate over.

In [45]:
weather_daily = weather.pivot_table(index = 'applicable_date',values = ['air_pressure','humidity','max_temp','min_temp','predictability','the_temp','visibility','wind_direction'],aggfunc = np.mean).reset_index()
weather_daily.head()

,applicable_date,air_pressure,humidity,max_temp,min_temp,predictability,the_temp,visibility,wind_direction
0,2013-11-01,1017.078036,89.607143,13.772435,9.530500,74.642857,13.046964,7.510661,207.890116
1,2013-11-02,1010.633214,85.357143,14.203679,9.333417,74.714286,14.241786,9.900830,207.568547
2,2013-11-03,1007.518036,74.964286,12.614113,8.034726,74.214286,12.612321,11.572172,248.402912
3,2013-11-04,1003.429464,82.178571,11.016685,5.875310,73.464286,11.133571,10.234212,296.479965
4,2013-11-05,995.379464,89.000000,12.825833,7.838595,76.000000,12.614643,7.925884,249.297194

Now let's make sure our dates are dateparts so they can be joined.

In [47]:
weather_daily['applicable_date'] = pd.to_datetime(weather_daily['applicable_date'])
animal_rescue['DateTimeOfCall']=pd.to_datetime(animal_rescue['DateTimeOfCall'])
animal_rescue['Day']= pd.to_datetime(animal_rescue['DateTimeOfCall']).dt.date
animal_rescue['Day']=pd.to_datetime(animal_rescue['Day'])

## 3. Merging the dataframes

Now that the station names in each dataframe are the same, we are ready to perform the merge. In the following line, we select the two dataframes (`left` and `right`), the columns to merge on (`left_on` and `right_on`), and then delete a column with duplicate information (`applicalbe_Date`).

Finally, we save the dataframe to a CSV file, `merged.csv`. (Setting `index=False` just means we don't save the row numbers)

In [49]:
animal_weather = pd.merge(left=animal_rescue, right=weather_daily, left_on='Day', right_on='applicable_date').drop('applicable_date', axis=1)
print(animal_weather.head())

  IncidentNumber      DateTimeOfCall   TypeOfIncident  PumpCount  \
0        4260131 2013-11-01 13:28:00  Special Service        1.0
1       18081131 2013-11-02 16:16:00  Special Service        1.0
2       30817131 2013-11-03 09:33:00  Special Service        1.0
3       30893131 2013-11-03 12:43:00  Special Service        1.0
4       31320131 2013-12-03 10:04:00  Special Service        1.0

   PumpHoursTotal  HourlyNominalCost(GBP)  IncidentNominalCost(GBP)  \
0             1.0                   260                   260.0
1             1.0                   260                   260.0
2             1.0                   260                   260.0
3             1.0                   260                   260.0
4             1.0                   260                   260.0

                      FinalDescription AnimalGroupParent        OriginofCall  \
0                          CAT ON ROOF               Cat     Person (mobile)
1                 PIGEON STUCK ON ROOF              Bird           Other FRS
2        ASSIST RSPCA WITH CAT UP TREE               Cat  Person (land line)
3                  CAT TRAPPED IN GATE               Cat  Person (land line)
4  ASSIST RSPCA WITH CAT STUCK IN TREE               Cat     Person (mobile)

       ...        Year        Day air_pressure   humidity   max_temp  \
0      ...        2013 2013-11-01  1017.078036  89.607143  13.772435
1      ...        2013 2013-11-02  1010.633214  85.357143  14.203679
2      ...        2013 2013-11-03  1007.518036  74.964286  12.614113
3      ...        2013 2013-11-03  1007.518036  74.964286  12.614113
4      ...        2013 2013-12-03  1032.957500  89.821429   6.719357

   min_temp predictability   the_temp visibility wind_direction
0  9.530500      74.642857  13.046964   7.510661     207.890116
1  9.333417      74.714286  14.241786   9.900830     207.568547
2  8.034726      74.214286  12.612321  11.572172     248.402912
3  8.034726      74.214286  12.612321  11.572172     248.402912
4  2.849911      71.071429   6.361518   7.663492     228.147965

[5 rows x 37 columns]

In [50]:
animal_weather.to_csv('merged.csv', index=False)

## 4. Uploading to Count

The fun bit! Import the Count API module, and initialise it with your access token, then upload the file saved in step 3:

In [51]:
count = CountAPI()
count.set_api_token(token)
table = count.upload(data = animal_weather,name = 'Merged Data')

Finally, with the table uploaded, create an interactive plot that shows how the cost of animal rescues varies across temperatures.

In [57]:
visual = table.upload_visual(x=table['the_temp'], y=table['IncidentNominalCost(GBP)'],groupings = {table['the_temp']:'auto'},
                            aggregates = {table['IncidentNominalCost(GBP)']:'avg'},chart_options = {'type':'bar'})
visual.embed()