## Incidents attended by LFB, by type and borough

[London Fire Brigade (LFB) data covering all incidents attended by month back to January 2013, broken down by incident ](https://data.london.gov.uk/dataset/fire-and-rescue-services-incidents-attended-borough)

- All fires attended - broken down by primary* and secondary fires
- Deliberate fires attended
- Dwelling & non-dwelling fires attended
- False alarms attended
- Road Traffic Accidents attended
- Vehicle fires attended - broken down by deliberate/accidental/unknown
- Open space fires attended - broken down by deliberate/accidental/unknown
- Rubbish fires attended - broken down by deliberate/accidental/unknown
- Shut-in-lifts attended
- Special services - non-emergency visits
*Primary fires comprise of all fires attended by LFB in buildings, vehicles and outdoor structures, and fires involving casualties, and fires attended by five or more appliances. 

The statistics include some incidents that are not geo-referenced (with a borough name). Sometimes incidents are geo-coded later, and so the data can change each month, and data for more recent periods must be regarded as provisional.

In [124]:
# Usual imports that are needed for most analysis
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from datetime import datetime
import io
import requests

In [125]:
url = 'https://data.london.gov.uk/download/fire-and-rescue-services-incidents-attended-borough/b8741a9e-dcfd-435f-98df-f147ea42e21e/LFB_Datastore.csv'
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [126]:
df.head()

,Borough,Callout_type,201301,201302,201303,201304,201305,201306,201307,201308,...,201710,201711,201712,201801,201802,201803,201804,201805,201806,201807
0,NOT GEO-CODED,ACCIDENTAL FIRES IN RUBBISH,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NOT GEO-CODED,ACCIDENTAL OPEN LAND FIRES,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NOT GEO-CODED,ACCIDENTAL VEHICLE FIRES,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,NOT GEO-CODED,ALL DELIBERATE FIRES,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
4,NOT GEO-CODED,ALL FALSE ALARMS,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0

In [127]:
t = pd.melt(df, id_vars = ["Borough","Callout_type"],var_name="Date", value_name="Number of reported incidents")

In [128]:
t.head()

,Borough,Callout_type,Date,Number of reported incidents
0,NOT GEO-CODED,ACCIDENTAL FIRES IN RUBBISH,201301,0
1,NOT GEO-CODED,ACCIDENTAL OPEN LAND FIRES,201301,0
2,NOT GEO-CODED,ACCIDENTAL VEHICLE FIRES,201301,0
3,NOT GEO-CODED,ALL DELIBERATE FIRES,201301,0
4,NOT GEO-CODED,ALL FALSE ALARMS,201301,0

In [129]:
pd.to_datetime(t['Date'],format = '%Y%m')

0       2013-01-01
1       2013-01-01
2       2013-01-01
3       2013-01-01
4       2013-01-01
5       2013-01-01
6       2013-01-01
7       2013-01-01
8       2013-01-01
9       2013-01-01
10      2013-01-01
11      2013-01-01
12      2013-01-01
13      2013-01-01
14      2013-01-01
15      2013-01-01
16      2013-01-01
17      2013-01-01
18      2013-01-01
19      2013-01-01
20      2013-01-01
21      2013-01-01
22      2013-01-01
23      2013-01-01
24      2013-01-01
25      2013-01-01
26      2013-01-01
27      2013-01-01
28      2013-01-01
29      2013-01-01
           ...
54642   2018-07-01
54643   2018-07-01
54644   2018-07-01
54645   2018-07-01
54646   2018-07-01
54647   2018-07-01
54648   2018-07-01
54649   2018-07-01
54650   2018-07-01
54651   2018-07-01
54652   2018-07-01
54653   2018-07-01
54654   2018-07-01
54655   2018-07-01
54656   2018-07-01
54657   2018-07-01
54658   2018-07-01
54659   2018-07-01
54660   2018-07-01
54661   2018-07-01
54662   2018-07-01
54663   2018-07-01
54664   2018-07-01
54665   2018-07-01
54666   2018-07-01
54667   2018-07-01
54668   2018-07-01
54669   2018-07-01
54670   2018-07-01
54671   2018-07-01
Name: Date, Length: 54672, dtype: datetime64[ns]

In [130]:
t.head()

,Borough,Callout_type,Date,Number of reported incidents
0,NOT GEO-CODED,ACCIDENTAL FIRES IN RUBBISH,201301,0
1,NOT GEO-CODED,ACCIDENTAL OPEN LAND FIRES,201301,0
2,NOT GEO-CODED,ACCIDENTAL VEHICLE FIRES,201301,0
3,NOT GEO-CODED,ALL DELIBERATE FIRES,201301,0
4,NOT GEO-CODED,ALL FALSE ALARMS,201301,0

In [132]:
t.to_csv('FireBrigadeIncidents.csv', sep=',',  index=False)