# Employment

Employment rates broken down by major occupation group and gender. The data are taken from the Annual Population Survey (APS), produced by the Office for National Statistics.

95% confidence intervals are included. Numbers are rounded to the nearest hundred.
18/03/2015 Data has been reweighted in line with the latest ONS estimates.

Includes Major Occupation groups: 1: managers and senior officials 2: professional occupations 3: associate prof & tech occupations 4: administrative and secretarial occupations 5: skilled trades occupations 6: personal service occupations 7: sales and customer service occupations 8: process, plant and machine operatives 9: elementary occupations

In [1]:
# Usual imports that are needed for most analysis
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from datetime import datetime
import io
import requests

In [3]:
xls = pd.ExcelFile('employment-by-occ-and-gender.xls')
years = range(2004,2018)

In [5]:
frames = []
for year in years:
    if year == 2014:
        continue
    df1 = pd.read_excel(xls, str(year))
    f = df1[df1.columns.drop(list(df1.filter(regex='Unnamed:')))]
    f = f.dropna()
    f = f.drop(f.index[0])
    f = f.drop(f.index[0])
    f['year']= year
    f['Borough']= f.index
    f['Borough'] = f['Borough'].apply(lambda x: x[1])
    f = f[~f['Borough'].isin(['London', 'West Midlands', 'Inner London','Outer London','North East','North West','Yorkshire and The Humber','East Midlands','East'
    ,'South East','South West','Wales','Scotland','Northern Ireland','England','England and Wales','Great Britain','United Kingdom' ])]
    frames.append(f)
result = pd.concat(frames)

In [6]:
# Add gender as a column
male =result.iloc[:, [0,1,2,3,4,5,6,7,8,18,19]]
female = result.iloc[:,9:]
female['gender']='female'
male['gender']='male'
male.columns = male.columns.str.replace('% males in employment who are -', '')
female.columns = female.columns.str.replace('% females in employment who are -', '')
result = pd.concat([male, female])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [10]:
result.columns

Index([' 1: managers, directors and senior officials (SOC2010)',
       ' 2: professional occupations (SOC2010)',
       ' 3: associate prof & tech occupations (SOC2010)',
       ' 4: administrative and secretarial occupations (SOC2010)',
       ' 5: skilled trades occupations (SOC2010)',
       ' 6: caring, leisure and other service occupations (SOC2010)',
       ' 7: sales and customer service occupations (SOC2010)',
       ' 8: process, plant and machine operatives (SOC2010)',
       ' 9: elementary occupations (SOC2010)', 'year', 'Borough', 'gender'],
      dtype='object')

In [18]:
# melt all types
t = pd.melt(result, id_vars = ['year', 'Borough', 'gender'],var_name="Occupation type",value_name="Count")

In [19]:
t.head()

,year,Borough,gender,Occupation type,Count
0,2004,Barking and Dagenham,male,"1: managers, directors and senior officials (...",3300
1,2004,Barnet,male,"1: managers, directors and senior officials (...",13700
2,2004,Bexley,male,"1: managers, directors and senior officials (...",6200
3,2004,Brent,male,"1: managers, directors and senior officials (...",8800
4,2004,Bromley,male,"1: managers, directors and senior officials (...",13800

In [21]:
t.to_csv('employment-by-occ-and-gender(melted).csv', sep=',', index=False)